# Data preprocessing

Data preprocessing comes after you've cleaned up your data and after you've done some exploratory analysis to understand your dataset. Once you understand your dataset, you'll probably have some idea about how you want to model your data. Machine learning models in Python require numerical input, so if your dataset has categorical variables, you'll need to transform them. Think of data preprocessing as a prerequisite for modeling.

In [16]:
#Load the librarys
import pandas as pd #To work with dataset
import numpy as np #Math library
import seaborn as sns #Graph library that use matplot in background
import matplotlib.pyplot as plt #to plot some parameters in seaborn
import warnings
warnings.filterwarnings('ignore')
# Read spreadsheet and assign it to sml_dataset
ml_dataset= pd.read_csv('C:/Users/rzouga/Desktop/ALLINHERE/Assignement/Sama/ml_dataset.csv')

# How sparse is my data?

Most data sets contain missing values, often represented as NaN (Not a Number). If you are working with Pandas you can easily check how many missing values exist in each column.

In [3]:
#Finding the special characters in the data frame 
ml_dataset.isin(['?']).sum(axis=0)

age                  0
worklass          1836
fnlwgt               0
education            0
education-num        0
martial-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
id                   0
dtype: int64

# Drop column that are unique  as they are unique identifiers for each income  and null columns:not useful for our model

In [6]:
ml_dataset.shape

(32561, 16)

In [10]:
# code will replace the special character to nan and then drop the columns 
ml_dataset['native-country'] = ml_dataset['native-country'].replace('?',np.nan)
ml_dataset['worklass'] = ml_dataset['worklass'].replace('?',np.nan)
ml_dataset['occupation'] = ml_dataset['occupation'].replace('?',np.nan)#dropping the NaN rows now 
ml_dataset.dropna(how='any',inplace=True)

In [11]:
ml_dataset.shape

(30162, 16)

In [12]:
ml_dataset.columns

Index(['age', 'worklass', 'fnlwgt', 'education', 'education-num',
       'martial-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income', 'id'],
      dtype='object')

In [14]:
# drop ID
ml_dataset.drop('id', axis=1, inplace=True)

In [15]:
ml_dataset.shape

(30162, 15)